@import-normalize;

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  color: inherit;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(120, 86, 86);
  border-color: rgb(100, 89, 76);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Скиданні обведення у input */
input,
textarea {
  outline: none;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  align-items: center;
  margin: 0 auto;
  font-family: 'Oswald', sans-serif;
  font-size: 26px;
  font-weight: 500;
}
